# 虚拟环境
/env

# 数据集
src-new.zip
Model_inference/Mix_GCN/data
Model_inference/Mix_Former/data
Process_data/data

# 输出
output
checkpoints

#日志
events.out.tfevents*

# 临时文件
__pycache__
temp

#3d -> 2d转换结果
save_2d_pose
3dto2d


Model_inference/Mix_Former/config/team/test/mixformer_V1_BM_r_w.yaml
Model_inference/Mix_GCN/config/team/ctrgcn_V1_B_2d.yaml
Model_inference/Mix_GCN/config/team/tdgcn_V1_J.yaml
